<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud9.biz.dao.mybatis.SysAreaMapper" >
  <resultMap id="BaseResultMap" type="com.cloud9.biz.models.SysArea" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="P_CODE" property="pCode" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="VARCHAR" />
  </resultMap>
  <!--item对象-->
  <resultMap id="ItemResultMap" type="com.cloud9.biz.models.SysDictItem" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="TEXT" property="text" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, NAME, TYPE, P_CODE, SEQ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_area
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_area
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cloud9.biz.models.SysArea" >
    insert into sys_area (ID, CODE, NAME, 
      TYPE, P_CODE, SEQ)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{pCode,jdbcType=VARCHAR}, #{seq,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cloud9.biz.models.SysArea" >
    insert into sys_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="pCode != null" >
        P_CODE,
      </if>
      <if test="seq != null" >
        SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null" >
        #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud9.biz.models.SysArea" >
    update sys_area
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null" >
        P_CODE = #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        SEQ = #{seq,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud9.biz.models.SysArea" >
    update sys_area
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      P_CODE = #{pCode,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--自定义-->
  <select id="getAreasByType" resultMap="ItemResultMap" parameterType="java.lang.String">
    select
    CODE as code,NAME as text
    from sys_area
    where TYPE = #{type,jdbcType=VARCHAR}
    order by SEQ desc
  </select>

  <select id="getAreaItemsByPid" resultMap="ItemResultMap" parameterType="java.lang.String">
    select
    CODE as code,NAME as text
    from sys_area
    where  P_CODE = #{pid,jdbcType=VARCHAR}
    order by SEQ desc
  </select>

  <select id="getAllAreaItems" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from sys_area
  </select>

</mapper>