<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud9.biz.dao.mybatis.SysPowerRoleRelMapper" >
  <resultMap id="BaseResultMap" type="com.cloud9.biz.models.SysPowerRoleRel" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_ID, MENU_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_power_role_rel
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_power_role_rel
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cloud9.biz.models.SysPowerRoleRel" >
    insert into sys_power_role_rel (ID, ROLE_ID, MENU_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cloud9.biz.models.SysPowerRoleRel" >
    insert into sys_power_role_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud9.biz.models.SysPowerRoleRel" >
    update sys_power_role_rel
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud9.biz.models.SysPowerRoleRel" >
    update sys_power_role_rel
    set ROLE_ID = #{roleId,jdbcType=VARCHAR},
      MENU_ID = #{menuId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--自定义-->
  <insert id="subRolePower">
    insert into sys_power_role_rel (ID, ROLE_ID, MENU_ID)
    values
    <foreach item="data"  collection="dataList"  index="index" separator=",">
      (#{data.id,jdbcType=VARCHAR}, #{data.roleId,jdbcType=VARCHAR}, #{data.menuId,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <delete id="delRolePowerByRoleId" parameterType="java.lang.String" >
    delete from sys_power_role_rel
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>

  <select id="getPowersByRoleId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_power_role_rel
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </select>

</mapper>