<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud9.biz.dao.mybatis.SysUserRoleRelMapper" >
  <resultMap id="BaseResultMap" type="com.cloud9.biz.models.SysUserRoleRel" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="roleName" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_ID, USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_user_role_rel
    where a.ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectRolesList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_user_role_rel
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectUserRolesRelList" resultMap="BaseResultMap" parameterType="com.cloud9.biz.models.SysUserRoleRel" >
    select ROLE_NAME as roleName, a.ID, ROLE_ID, USER_ID
    from sys_user_role_rel a,sys_role b
    where a.ROLE_ID=b.ID and  USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteUserRolesRelByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user_role_rel
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertUserRolesRel" parameterType="com.cloud9.biz.models.SysUserRoleRel" >
    insert into sys_user_role_rel (ID, ROLE_ID, USER_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <delete id="deleteUserRolesRelByUserId" parameterType="java.lang.String" >
    delete from sys_user_role_rel
    where User_ID = #{UserId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.cloud9.biz.models.SysUserRoleRel" >
    insert into sys_user_role_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud9.biz.models.SysUserRoleRel" >
    update sys_user_role_rel
    <set >
      <if test="roleId != null and roleId != '' " >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != '' " >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud9.biz.models.SysUserRoleRel" >
    update sys_user_role_rel
    set ROLE_ID = #{roleId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--自定义-->
  <insert id="batchInsert" >
    insert into sys_user_role_rel (ID, ROLE_ID, USER_ID)
    values
    <foreach item="data"  collection="dataList" index="index" separator=",">
      (#{data.id,jdbcType=VARCHAR}, #{data.roleId,jdbcType=VARCHAR}, #{data.userId,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <delete id="delByUserId" parameterType="java.lang.String" >
    delete from sys_user_role_rel
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>

</mapper>